.card {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 500px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  height: 40px;
  width: 90px;
}

.card-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input {
  width: 85px;
}

.btn-dng {
  background-color: #ee3232;
}

.btn-dng {
  background-color: #e2e2e2;
}

.img-cute {
  height: 50px;
  width: 50px;
}
