.bottlecard-container {
  width: 356px;
  height: 88px;
  background-color: #FCAC99;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.bottlecard-ounce {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.bottlecard-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 43px;
  font-family: 'IBM Plex Sans', sans-serif;
}


.b1 {
  color: white;
}

.bottle-card-text {
  color: white;
  font-size: 24px;
  padding-left: 8px;
}

.space {
  margin-top: 4px;
}