.dashboard-container {
    margin-top: 20px;
    width: 356px;
    text-align: center;
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
}


@media only screen and (min-width: 1000px)
{
    .dashboard-container {
        margin-top: 40px;
        margin-bottom: 44px;
    }
}