.signup-container {
  width: 356px;
  height: 512px;
  background-color: white;
  box-shadow: 0 0 15px  #14103022;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 128px;
}

.s{
  position:relative;
  left: -114px;
}

.signup-input {
  width: 308px;
  height: 56px;
  background-color: #F4F4F4;
  border-style: none;
  border-radius: 5px;
  padding-left: 12px;
}

.signup-submit {
  width: 168px;
  height: 56px;
  font-size: 16px;
  background-color: #5E6CEC;
  border-style: none;
  border-radius: 5px;
  margin-top: 16px;
}

.signup-font24 {
  font-size: 24px;
}

.signup-font16 {
  font-size: 16px;
}


.signup-padding-top-24 {
  padding-top:24px;
}

.signup-padding-top-22 {
  padding-top:22px;
}


.signup-padding-top-16 {
  padding-top:16px;
}
.signup-padding-top-8 {
  padding-top:8px;
}

.signup-padding-left-8 {
  padding-left: 8px;
}