.container {
  margin-top:24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}


.layout-dateslider {
  order: 0;
}
.layout-dashboard {
  order: 1;
}
.layout-bottleform {
  order:3;
}
.layout-bottlelist {
  order: 2;
}



@media only screen and (min-width: 1000px) {
  .layout-dateslider {
  grid-area: dateslider;
}
.layout-dashboard {
  grid-area: dashboard;
}
.layout-bottleform {
  grid-area: bottleform;
}
.layout-bottlelist {
  grid-area: bottlelist;
}
.container {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 356px 356px;
  grid-template-rows: 38px 111px 227px;
  gap: 0px 16px;
  grid-template-areas:
  "dateslider bottlelist"
  "dashboard bottlelist"
  "bottleform bottlelist";
}

}